// ------------------------------------ Fonts -----------------------------------

$fontOswald: 'Oswald', sans-serif;
$fontAbel: 'Abel', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

// ------------------------------------ Colors -----------------------------------

// sidebar colors
$sidebarBaseColor: #2d2d2d;
$sidebarAccentColor: #4c4c4c;

// main colors
$mainColor: #dee9ee;
$progressbarColor: #2196f378;

// button colors
$wizardBtnColor: #2196F3;
$secondaryBtnColor: #66767d;
$primaryBtnColor: #61badf;

// font colors
$fontColorWhite: #fff;
$fontColorBlack: #4f4f4f;

// table colors
$tableHeader: #66767d;

// ------------------------------------ Pixels -----------------------------------

// sidebar
$sidebarWidth: 250px;
$sidebarHeaderHeight: 60px;
$sidebarProfileWidth: 65px;
$logoWidth: 54px;
$menuContentHeight: 450px;
$addProductHeight: 75px;

// dashboard
$progressbarHeight: 8px;
$pageTitleSize: 32px;
$pageTitleWeight: 600;
