.wizard-sidebar {
  min-width: $sidebarWidth;
  height: 100%;
  background-color: $sidebarAccentColor;
  color: $fontColorWhite;

  .header {
    height: $sidebarHeaderHeight;
    display: flex;

    .logo {
      width: 100%;
      display: flex;

      a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
      }

      img {
        width: $logoWidth;
        margin-left: 10px;
      }
    }
  }

  .menu-content {
    height: $menuContentHeight;
    background-color: $sidebarBaseColor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3em;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;

        &:first-child {
        }

        &:last-child {
        }

        a {
          text-decoration: none;
          display: flex;
          width: 100%;
          align-items: center;
          padding: 10px 0px 10px 0px;
          transition: all .5s ease;

          &:hover {
            background: #2a2a2a;
            h4 {
              opacity: .6;
            }
          }

          img {
            opacity: .4;
            flex: 1 1;
            max-height: 30px;
            width: 100%;
          }

          h4 {
            opacity: .4;
            color: #fff;
            flex: 2;
            margin: 0;
            font-size: 1em;
            line-height: 1;
            letter-spacing: .03em;
            transition: all .5s ease;
          }

        }

      }

    }
  }

  .stepper-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    .MuiStepLabel-label {
      color: #ffffff59;
      font-weight: 100;
      letter-spacing: .04em;
      font-family: $fontOswald;
      font-size: 1.2em;
    }

    .MuiStepLabel-label.MuiStepLabel-completed {
      color: #ffffff59;
    }

    .MuiStepLabel-label.MuiStepLabel-active {
      color: #ffffffb8;
    }

    .MuiButton-outlined {
      font-family: $fontAbel;
      color: #ffffff59;
      border: solid 1px #ffffff59;
      text-transform: none;
      padding: 5px;
      line-height: 1;
      opacity: .8;
    }

    .MuiSvgIcon-root {
      color: #ffffff59;

      .MuiStepIcon-text {
        fill: rgba(0, 0, 0, 0.87);
      }
    }

    .MuiStepContent-root {
      border-left: 1px solid #ffffff59;
    }

    .MuiStepConnector-line {
        border-color: #ffffff59;
    }
  }

  .grey-space {
    height: calc(
      100% - #{$sidebarHeaderHeight} - #{$menuContentHeight} - #{$addProductHeight}
    );
  }

  .add-product {
    height: $addProductHeight;
    background-color: $sidebarBaseColor;
  }

  &.sidebar-auth {
    width: 80%;
    background-color: $sidebarBaseColor;
    .header {
      background-color: $sidebarAccentColor;
    }
  }

  .MuiStepper-vertical {
    flex-direction: column;
    background: none;
  }
}
