
.OverviewTable {
  position: relative;
  background: #cccccc;

  .tableWrapper {
    thead {
      tr {
        th {
          padding: 10px;
        }

        th:first-child {
          padding: 6px 6px 6px 16px;
        }

        th:last-child {
          padding: 6px 16px 6px 6px;
        }
      }
    }
  }
}
