.Overview {
  position: relative;
  background: #fff;

  .OverviewTable {
    position: relative;
    background: #cccccc;

    tbody {
      padding: 0 10px;
    }


  }
}


.OverviewCarousel {
  position: relative;
  background: #cccccc;
}
