.MuiAppBar-positionFixed {
  left: 0!important;
}

.MuiAppBar-root {
  max-width: 73px !important;
}

.MuiListItem-gutters {
  padding-left: 23px !important;
}

.dashboard {
  // width: 100%;
  // height: 100%;

    .products {
      // position: relative;
      // height: 100%;
      // display: flex;
      // align-items: flex-start;

      /* table individual head */
      thead.MuiTableHead-root {

        .MuiTableCell-stickyHeader {
          background: #66767d;
        }

        tr.MuiTableRow-head {
          background: #66767d;

          th {
            color: #fffc;
            padding: 10px;
            font-weight: 100;
            font-size: 1em;

            /* Active Label head */
            .MuiTableSortLabel-root.MuiTableSortLabel-active {
              color: #fff;
            }

            /* SVG Label head */
            .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
              color: #fff;
            }

          }

          th:nth-child(2) {
            max-width: 250px;
          }

          th:nth-child(3) {
            max-width: 100px;
          }

          th:nth-child(4) {
            max-width: 100px;
          }

          th:nth-child(5) {
            max-width: 100px;
          }

          th:nth-child(6) {
            // text-align: center;
            // max-width: 150px;
          }

          th:nth-child(7) {
            // text-align: center;
            // max-width: 150px;
          }

          th:nth-child(8) {
            text-align: center;
          }
        }

      }

      tbody.MuiTableBody-root {

        overflow: scroll;

        tr.MuiTableRow-root:nth-child(even){
          background: #efefef;
        }

        /* table individual rows */
        tr.MuiTableRow-root {

          td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          td:nth-child(2) {
            max-width: 250px;
          }

          td:nth-child(3) {
            max-width: 100px;
          }

          td:nth-child(4) {
            max-width: 100px;
          }

          td:nth-child(5) {
            max-width: 100px;
          }

          td:nth-child(6) {
            // text-align: center;
            // max-width: 150px;
          }

          td:nth-child(7) {
            // text-align: center;
            // max-width: 150px;
          }

          td:nth-child(8) {
            text-align: center;
          }

        }
      }


      tbody tr td {
        padding: 10px;
      }

      tbody tr td:last-child {
        text-align: center;
      }

      #productTableMain {
        // width: 100%;
        // padding: 1em;

        .MuiPaper-elevation1 {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        /* Header Table */
        .tableHeaderTop {
          background: #66767d;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          #tableTitle {
            text-transform: uppercase;
            letter-spacing: .05em;
            font-size: 2em;
            color: #fff;
          }
        }

        .tableHeader {
          flex: 1 1 100%;
        }

        .thumbnail {
          max-width: 50px;
        }
      }

      .dashboard-container {
        padding: 10px;
      }

    }

}
