.dashboard {
  width: 100%;
  height: 100%;

    .products {
      position: relative;
      height: 100%;

      #productTableMain {
        width: 100%;
        padding: 1em;

        .MuiPaper-elevation1 {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        .tableHeaderTop {
          background: #66767d;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          #tableTitle {
            text-transform: uppercase;
            letter-spacing: .05em;
            font-size: 2em;
            color: #fff;
          }

          .MuiTableCell-head {
            color: #fff;
          }

          .MuiTableHead-root {
            // background: #66767d;
            // border-bottom: #131313 solid 1px;
          }

        }

        .makeStyles-tableWrapper-4 {
          thead {
            background: #66767d;
            // border-bottom: #131313 solid 1px;

            .MuiTableCell-head {
              color: #fff;
            }
          }
        }

        .MuiToolbar-regular {
          // background: #2d2d2d;
          // color: #fff;
        }

        .tableHeader {
          flex: 1 1 100%;
        }

        .thumbnail {
          max-width: 50px;
        }
      }

      .dashboard-container {
        padding: 10px;
      }

    }

}
