.Dashboard {
  height: 95vh;
  padding: 1em;

  .tableContent {
    position: relative;
    width: 100%;

    .MuiToolbar-gutters {
      padding-left: 1em;
      padding-right: 1em;
    }

    .MuiPaper-elevation1 {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    /* Table Header */
    .tableHeaderTop {
      background: #66767d;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: solid 1px #797979;

      .tableHeader {
        flex: 1 1 100%;
        font-size: 2.1em;
        color: #fff;
        font-weight: 400;
      }
    }

    .tableWrapper {
      width: 100%;

      td {
        font-size: 1.1em;
      }

      thead.MuiTableHead-root {
        background: #66767d;

        .MuiTableCell-stickyHeader {
          background: #66767d;
        }

        tr.MuiTableRow-head {
          line-height: 1;

          th {
            color: #fffc;
            // padding: 6px;
            font-weight: 100;
            font-size: 1em;

            /* Active Label head */
            .MuiTableSortLabel-root {
              color: #fff;
            }

            /* SVG Label head */
            .MuiTableSortLabel-icon {
              color: #fff;
              font-size: 1.2em;
            }
          }
        }
      }

      tr.MuiTableRow-root:nth-child(even){
        background: #efefef;
      }

      /* Bottom Table Toolbar */
      .MuiTablePagination-toolbar {
        border-top: solid 1px #cccccc;
      }
    }
  }
}

.SideBarDrawer {
  .MuiAppBar-positionFixed {
    left: 0!important;
  }

  .MuiAppBar-root {
    max-width: 73px !important;
  }

  .MuiListItem-gutters {
    padding-left: 23px !important;
  }
}
