.ProductsTable {
  position: relative;

  .tableWrapper {

    td {
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th {
      padding: 10px;
    }

    th:nth-child(2), td:nth-child(2) {
      max-width: 250px;
    }

    th:nth-child(3), td:nth-child(3) {
      max-width: 100px;
    }

    th:nth-child(4), td:nth-child(4) {
      max-width: 100px;
    }

    th:nth-child(5), td:nth-child(5) {
      max-width: 100px;
    }

    th:nth-child(6), td:nth-child(6) {}

    th:nth-child(7), td:nth-child(7) {}

    th:nth-child(8), td:nth-child(8) {
      text-align: center;
    }

    .thumbnail {
      max-width: 50px;
    }
  }
}
