.Header {
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: 5vh;
  border-bottom: solid 1px #cccccc;

  .LevarIcon {
    flex: 1;
    display: flex;

    img {
      width: 100%;
      max-width: 125px;
    }
  }

  .AccountContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .MuiIconButton-root {
      padding: 01px;
    }

    .AccountIcon {
      color: #91B9C9;
      cursor: pointer;
      font-size: 1.3em;
      background: #ffffffa3;
      border-radius: 50%;
      border: solid 1px #ffffff57;
    }
  }

}
